@import url('//fonts.googleapis.com/css?family=Roboto');

body {
    background: #2e739a;
    color: #D7D7D7;
    font: 16px/1.3 "Roboto", sans-serif;
}

header {
    width: 100%;
    margin: 0px auto;
}

h1 {
    text-align: center;
    color: #D7D7D7;
    font: 100px/1 "Roboto";
    text-transform: uppercase;
    margin: 5% auto 5%;
    margin-bottom: 35px;
}

article {
    display: block;
    text-align: center;
    width: 650px;
    margin: 10px auto;
}
a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 88px;
    height: 44px;
    line-height: 44px;
    border-radius: 5px;
    border: 2px solid #fff;
    transition: all .5s ease;
}
p, a {
    font-size: 1em;
}
a:hover {
    background: #E57373;
    border: 2px solid #E57373;
    width: 132px;
}
@media screen and (max-width: 720px) {
    article {
        display: block;
        text-align: center;
        width: 450px;
        margin: 0 auto;
    }

    h1 {
        font: 70px/1 "Roboto";
    }

    .wrap {
        margin-top: 50px;
    }
}

@media screen and (max-width: 480px) {
    article {
        display: block;
        text-align: center;
        width: 300px !important;
        margin: 0 auto;
    }

    h1 {
        font: 50px/1 "Roboto";
    }

    .wrap {
        margin-top: 50px;
    }

}