<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Add Novel</title>
    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet"/>
    <!-- Custom styles for my css-->
    <link href="/css/loading-admin.css" rel="stylesheet"/>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/admin">Novel Admin</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Novel Manager">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#novelManger"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Novel Manager</span>
                </a>
                <ul class="sidenav-second-level collapse" id="novelManger">
                    <li>
                        <a href="/admin">List Novel</a>
                    </li>
                    <li>
                        <a href="/addNovel">Add Novel</a>
                    </li>
                    <li>
                        <a href="/admin/reviews">List review</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-file"></i>
                    <span class="nav-link-text">User Manager</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseExamplePages">
                    <li>
                        <a href="/admin/users">List User</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="nav-link" style="float: right">Welcome, <a th:text="${user}" th:href="@{/admin/} + ${user}"/></span>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/admin">Novel</a>
            </li>
            <li class="breadcrumb-item active">Add Novel</li>
        </ol>
        <input class="alert" id="exampleInputNotification" type="text" style="display: none; width: 100%" readonly="readonly"/>
        <div class="card mx-auto">
            <div class="card-header">Add Novel</div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputNovelName">Novel name</label>
                        <input class="form-control" id="exampleInputNovelName" type="text"
                               placeholder="Enter novel name" required="required" maxlength="50"/>
                        <input class="alert alert-danger" id="exampleInputErrorNovelName" type="text" style="display: none; width: 100%" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPicture">Picture</label>
                        <input class="form-control" id="exampleInputPicture" type="file"
                               accept="image/*"
                               value="Upload file"/>
                        <br/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputAuthor">Author</label>
                        <input class="form-control" id="exampleInputAuthor" type="text"
                               placeholder="Enter author" required="required" maxlength="50"/>
                        <input class="alert alert-danger" id="exampleInputErrorAuthor" type="text" style="display: none; width: 100%" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputDescription">Description</label>
                        <textarea class="form-control" id="exampleInputDescription" type="text"
                                  placeholder="Enter description" cols="5" rows="4"></textarea>
                        <br/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputYear">Year</label>
                        <input class="form-control" id="exampleInputYear" type="number" min="2000" max="2018"
                               placeholder="Enter year" required="required"/>
                        <br/>
                    </div>
                    <div class="form-group">
                        <label>Genre</label>
                        <div class="form-row" id="exampleCheckboxGenre"
                             style="border: 1px solid #ced4da; border-radius:.25rem">
                        </div>
                        <input class="alert alert-danger" id="exampleInputErrorGenre" type="text" style="display: none; width: 100%" readonly="readonly"/>
                    </div>
                    <input class="btn btn-primary btn-block" type="button" value="Add novel" id="btnAdd"/>
                </form>
            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Your Website 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/addNovel.js?v=1.0"></script>
</div>
<div class="modal-loading"><!-- Place at bottom of page --></div>
</body>

</html>
