<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Novel Detail</title>
    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet"/>
    <!-- Custom styles for my css-->
    <link href="/css/loading-admin.css" rel="stylesheet"/>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/admin">Novel Admin</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Novel Manager">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#novelManger"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Novel Manager</span>
                </a>
                <ul class="sidenav-second-level collapse" id="novelManger">
                    <li>
                        <a href="/admin">List Novel</a>
                    </li>
                    <li>
                        <a href="/addNovel">Add Novel</a>
                    </li>
                    <li>
                        <a href="/admin/reviews">List review</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-file"></i>
                    <span class="nav-link-text">User Manager</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseExamplePages">
                    <li>
                        <a href="/admin/users">List User</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="nav-link" style="float: right">Welcome, <a th:text="${user}" th:href="@{/admin/} + ${user}"/></span>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/admin">Novel</a>
            </li>
            <li class="breadcrumb-item active">Novel Detail</li>
        </ol>
        <div class="card mx-auto">
            <div class="card-header">Novel Detail</div>
            <form id="form">
                <div class="card-body row">
                    <input type="hidden" th:value="${novel_id}" id="novel_id"/>
                    <div class="col-xs-5 col-sm-6 col-lg-4">
                        <img src="" style="width: 100%" id="detailCover"/>
                        <input class="form-control edit" id="editPicture" type="file"
                               accept="image/*"
                               value="Upload file"/>
                    </div>
                    <div class="col-xs-7 col-sm-6 col-lg-8">
                        <div class="form-row">
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <b>Novel Name:</b>
                            </div>
                            <div class="col-xs-6 col-sm-8 col-lg-10 detail">
                                <p id="detailNovelName"></p>
                            </div>
                            <div class="col-xs-6 col-sm-8 col-lg-10 form-group edit">
                                <input class="form-control" type="text" id="editName"
                                       pattern=".{3,50}" required="required"
                                       oninvalid="setCustomValidity('Novel name must be between 3 and 50 characters')"
                                       oninput="setCustomValidity('')"/>
                                <!--/>-->
                                <input class="alert alert-danger" id="exampleInputErrorNovelName" type="text"
                                       style="display: none; width: 100%" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <b>Author:</b>
                            </div>
                            <div class="col-xs-6 col-sm-8 col-lg-10 detail">
                                <p id="detailAuthor"></p>
                            </div>
                            <div class="col-xs-6 col-sm-8 col-lg-10 form-group edit">
                                <input class="form-control" type="text" id="editAuthor" minlength="1"
                                       required="required"
                                       oninput="setCustomValidity('')"
                                       oninvalid="setCustomValidity('Author is required')"/>
                                <!--/>-->
                                <input class="alert alert-danger" id="exampleInputErrorAuthor" type="text"
                                       style="display: none; width: 100%" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <b>Year:</b>
                            </div>
                            <div class="col-xs-6 col-sm-8 col-lg-10 detail">
                                <p id="detailYear"></p>
                            </div>
                            <div class="col-xs-6 col-sm-8 col-lg-10 form-group edit">
                                <input class="form-control" type="number" id="editYear" min="2005" max="2018"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <b>Status Translate:</b>
                            </div>
                            <div class="col-xs-6 col-sm-8 col-lg-10 detail">
                                <p id="detailStatusTranslate"></p>
                            </div>
                            <div class="col-xs-6 col-sm-8 col-lg-10 form-group edit">
                                <select class="form-control" id="editTranslateSelect">
                                    <option value="Ongoing">Ongoing</option>
                                    <option value="Complete">Complete</option>
                                </select>
                                <input class="alert alert-danger" id="exampleInputErrorStatusTransalte" type="text"
                                       style="display: none; width: 100%" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <b>Ratings:</b>
                            </div>
                            <div class="col-xs-6 col-sm-8 col-lg-10">
                                <p id="detailRatings"></p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <b>View:</b>
                            </div>
                            <div class="col-xs-6 col-sm-8 col-lg-10">
                                <p id="detailView"></p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <b>Genres:</b>
                            </div>
                            <div class="col-xs-6 col-sm-8 col-lg-10 detail">
                                <p id="detailGenres"></p>
                            </div>
                            <div class="col-xs-6 col-sm-8 col-lg-10 form-group edit">
                                <div class="form-row" id="checkboxGenre"
                                     style="border: 1px solid #ced4da; border-radius:.25rem">
                                </div>
                                <input class="alert alert-danger" id="errorGenre"
                                       value="Novel must have at least 1 genre!" type="text"
                                       style="display: none; width: 100%" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <b>Active:</b>
                            </div>
                            <div class="col-xs-6 col-sm-8 col-lg-10">
                                <p id="detailActive"></p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <b>Description:</b>
                            </div>
                            <div class="col-xs-6 col-sm-8 col-lg-10 detail">
                                <p id="detailDescription"></p>
                            </div>
                            <div class="col-xs-6 col-sm-8 col-lg-10 edit form-group">
                                <textarea class="form-control" type="text" id="editDes" cols="5" rows="8"/>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" style="display: none"/>
            </form>
            <!--<div class="card-body">-->
            <!--<a href="/admin" class="btn btn-primary btn-block" aria-pressed="false">Back</a>-->
            <!--</div>-->
            <div class="card-body edit">
                <button class="btn btn-success btn-block" value="Edit" id="btnUpdate">Update</button>
            </div>
            <div class="card-body">
                <button class="btn btn-primary btn-block" value="Edit" id="btnEdit">Edit</button>
            </div>

        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Your Website 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/novelDetail.js?v=1.3"></script>
</div>
<div class="modal-loading"><!-- Place at bottom of page --></div>
</body>

</html>
